{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid-19</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="icon" href="{% static 'img/covid.png' %}" type="image/icon type">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
          <a class="navbar-brand" href="home">
            <img src="{% static 'img/back.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
            Back
          </a>
        </div>
    </nav>
    <div class="container">
      <br><br><br><br>
      <h3>When to seek further medical advice.</h3><br>
      <div class="card mb-3" style="max-width: auto;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'img/symptoms.png' %}" class="card-img inline-photo show-on-scroll" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <ul class="list-unstyled">
                <li class="media">
                  <div class="media-body">
                    <h5 class="mt-0 mb-1">If the following symptoms and signs develop.</h5>
                      &nbsp;&nbsp;1. Difficulty in breathing.<br>
                      &nbsp;&nbsp;2. Oxygen saturation ≤ 94% using fingertip pulse oximeter.<br>
                      &nbsp;&nbsp;3. Persistent fever of ≥380 C (100.40 F) for more than 24 hours.<br>
                      &nbsp;&nbsp;4. Persistent pain/pressure in the chest.<br>
                      &nbsp;&nbsp;5. Mental confusion or inability to arouse.<br>
                      &nbsp;&nbsp;6. Slurred speech/seizures.<br>
                      &nbsp;&nbsp;7. Weakness or numbness in any limb or face.<br>
                      &nbsp;&nbsp;8. Developing bluish discolorations of lips/face.<br>
                      &nbsp;&nbsp;9. Any other symptom the person considers serious.<br>
                      &nbsp;&nbsp;10. As advised by treating physician.<br>
                  </div>
                </li><br>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <h3>Instructions to the person in home isolation.</h3><br>
      <div class="card mb-3" style="max-width: auto;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'img/quarantine.jpg' %}" class="card-img inline-photo show-on-scroll" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <ul class="list-unstyled">
                <li class="media">
                  <div class="media-body">
                    &nbsp;&nbsp;1. The person shall wear medical facemask/ N-95 facemask at all times.<br>
                    &nbsp;&nbsp;2. The person must stay in the identified room only and maintain a physical distance of 2 &nbsp;&nbsp;&nbsp;&nbsp;meters/ 6 feet.<br>
                    &nbsp;&nbsp;3. The person shall take rest and drink a lot of fluids to maintain adequate hydration.<br>
                    &nbsp;&nbsp;4. Shall follow cough etiquettes at all times.<br>
                    &nbsp;&nbsp;5. Hands shall be washed often with soap and water for at least 40 seconds<br>
                    &nbsp;&nbsp;6. Do not share personal items like utensils, towels, etc. with other family members. Keep them &nbsp;&nbsp;&nbsp;&nbsp;separate.<br>
                    &nbsp;&nbsp;7. Clean surfaces in the room that are touched often.<br>
                    &nbsp;&nbsp;8. Clean and disinfect bathroom and toilet surfaces at least once daily.<br>
                    &nbsp;&nbsp;9. The person shall strictly follow the physician’s instructions and medication advice.<br>
                    &nbsp;&nbsp;10. The person shall self-monitor his/her health with a fingertip pulse oximeter and digital &nbsp;&nbsp;&nbsp;&nbsp;thermometer daily.<br>
                    &nbsp;&nbsp;11. The person shall report promptly if he/she develops any worsening of symptoms.<br>
                    &nbsp;&nbsp;12. The person shall take healthy and nutritious diet.<br>
                    &nbsp;&nbsp;13. Smoking, chewing tobacco and alcohol intake shall be strictly avoided.<br>
                    &nbsp;&nbsp;14. The person shall receive counselling services when necessary.<br>
                    &nbsp;&nbsp;15.Download Arogya Setu App on mobile (available at
                  <a href="https://play.google.com/store/apps/details?id=nic.goi.aarogyasetu&hl=en_in">Aarogya-Setu-App</a>) and it should &nbsp;&nbsp;&nbsp;&nbsp;remain active at all times
                  &nbsp;&nbsp;(through Bluetooth and Wi-Fi).<br>
                  </div>
                </li><br>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <h3>Instructions to the family members of person in home isolation.</h3><br>
      <div class="card mb-3" style="max-width: auto;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'img/family.jpg' %}" class="card-img inline-photo show-on-scroll" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <ul class="list-unstyled">
                <li class="media">
                  <div class="media-body">
                    &nbsp;&nbsp;1. Do not panic. Do not stigmatise.<br>
                    &nbsp;&nbsp;2. Keep the person cheerful and boost their morale.<br>
                    &nbsp;&nbsp;3. Ensure that the person is in strict home isolation.<br>
                    &nbsp;&nbsp;4. Maintain a physical distance of at least 2 metres/6 feet.<br>
                    &nbsp;&nbsp;5. Visitors are strictly not allowed until the person has completely recovered and has no signs or &nbsp;&nbsp;&nbsp;&nbsp;symptoms of COVID-19.<br>
                    &nbsp;&nbsp;6. Remember, the fight is against the disease and not the person.<br>
                    &nbsp;&nbsp;7. For any assistance, please call Apthamitra helpline – 14410.<br>
                  </div>
                </li><br>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <h3>Instructions to neighbours of persons who are home isolated.</h3><br>
      <div class="card mb-3" style="max-width: auto;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'img/neighbours.jpg' %}" class="card-img inline-photo show-on-scroll" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <ul class="list-unstyled">
                <li class="media">
                  <div class="media-body">
                    &nbsp;&nbsp;1. Do not panic. Do not stigmatise.<br>
                    &nbsp;&nbsp;2. Support the person and his/her family by providing essential items like medicines, rations, &nbsp;&nbsp;&nbsp;&nbsp;vegetables, etc. until they get cured as may be required.<br>
                    &nbsp;&nbsp;3. Keep a vigil on the person in home isolation to ensure strict home isolation.<br>
                    &nbsp;&nbsp;4. Maintain a physical distance of at least 2 metres/6 feet.<br>
                    &nbsp;&nbsp;5. Remember, the fight is against the disease and not the person.<br>
                    &nbsp;&nbsp;6. For any assistance, please call Apthamitra helpline – 14410.<br>
                  </div>
                </li><br>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <h3>Model diet plan.</h3><br>
      <div class="card mb-3" style="max-width: auto;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="{% static 'img/diet.jpg' %}" class="card-img inline-photo show-on-scroll" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <ul class="list-unstyled">
                <li class="media">
                  <div class="media-body">
                    &nbsp;&nbsp;1. Eat whole grains such as brown rice, whole wheat flour, oats, millets, etc.<br>
                    &nbsp;&nbsp;2. Include beans, lentils & pulses as these are good sources of protein.<br>
                    &nbsp;&nbsp;3. Include fresh fruits & vegetables (Bright coloured fruits & vegetables like red capsicum, carrots, &nbsp;&nbsp;&nbsp;&nbsp;beetroot & greens etc).<br>
                    &nbsp;&nbsp;4. Drink 8-10 Glasses of water and Hydrate yourself. Water helps to flush out toxins.<br>
                    &nbsp;&nbsp;5. Citrus fruits like lemons & oranges are a good source of Vit C which is key in improving &nbsp;&nbsp;&nbsp;&nbsp;immunity levels & to fight off infections.<br>
                    &nbsp;&nbsp;6. Include spices like ginger, garlic & turmeric which are natural immunity boosters.<br>
                    &nbsp;&nbsp;7. Eat home-cooked food. Use low fat and less oil for cooking food.<br>
                    &nbsp;&nbsp;8. Wash fruits & vegetables before use Include Low-fat milk & yogurt as they are good sources of &nbsp;&nbsp;&nbsp;&nbsp;protein & calcium.<br>
                    &nbsp;&nbsp;8. Strictly avoid alcoholic drinks.<br>
                  </div>
                </li><br>
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div>

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/covid.png' %}" width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
        Covid-19
      </a>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
        <span class="navbar-text">
          Project by, Varun S Kulkarni and Shiva Kumar. Guided by, Aparna Vastrad.
        </span>
      </div>
    </nav>

    <script src="{% static 'js/script.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  </body>
</html>
